.conteinerMovie{
    display: flex;
}
.aboutFilm{
    margin-left: 25px;
    max-width: 760px;
}
.genresList{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.genresLi + .genresLi{
    margin-left: 10px;
}
