.header{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 25px;
}
.navLink .active{
    color:red;
}
.navLink{
    color:#2962ff;
    text-decoration: none;

}

.navLink + .navLink{
    margin-left: 7px;
}
.conteiner{
    padding: 0 170px  ;
}