.conteiner__card{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 500px;
    text-align: center;
}
.card + .card{
    margin-left: 20px;
}
.botom_text__card{
    display: flex;
    justify-content: space-around;
}